.demo-table {
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.user-listing {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: space-between;

  .user-listing__header {
    margin: 0;
  }
}

.user-filter-field {
  mat-form-field {
    width: 50%;
  }
}
